<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:ads="http://schemas.android.com/apk/res-auto"
    package="appcorp.mmb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.feeds.GlobalFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FullscreenPreview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.search_feeds.SearchFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Authorization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Favorites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InternetNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartApplication"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.feeds.ManicureFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.feeds.HairstyleFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.feeds.LipsFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.feeds.MakeupFeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditMyProfile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.search_feeds.SearchMakeupFeed"
            android:screenOrientation="portrait"/>
    </application>

</manifest>